.slider {
	width: 820px;
	margin: auto;
	overflow: hidden;
	border:1px solid #58D68D;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #58D68D 3px 5px 8px;
	-moz-box-shadow: #58D68D 3px 5px 8px;
	box-shadow: #58D68D 3px 5px 8px;
	behavior: url(/pie/PIE.htc);
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
	
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

#columnaiz{
	 
	width:250px;
	border:1px solid #000000;
	margin:10px;
	float:left;	
	padding: 5px;
	border:1px solid #58D68D;
	margin:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #58D68D 3px 5px 8px;
	-moz-box-shadow: #58D68D 3px 5px 8px;
	box-shadow: #58D68D 3px 5px 8px;
	behavior: url(/pie/PIE.htc);
}

#columnacent{
	 
	width:250px;
	border:1px solid #000000;
	margin:10px;
	float:left;	
	padding: 5px;
	border:1px solid #58D68D;
	margin:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #58D68D 3px 5px 8px;
	-moz-box-shadow: #58D68D 3px 5px 8px;
	box-shadow: #58D68D 3px 5px 8px;
	behavior: url(/pie/PIE.htc);
}

#columnade{
	 
	width:250px;
	border:1px solid #000000;
	margin:10px;
	float:left;	
	padding: 5px;
	border:1px solid #58D68D;
	margin:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #58D68D 3px 5px 8px;
	-moz-box-shadow: #58D68D 3px 5px 8px;
	box-shadow: #58D68D 3px 5px 8px;
	behavior: url(/pie/PIE.htc);
}

#columnaiz2{
	 
	width:250px;
	border:1px solid #000000;
	margin:10px;
	float:left;	
	padding: 5px;
	border:1px solid #58D68D;
	margin:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #58D68D 3px 5px 8px;
	-moz-box-shadow: #58D68D 3px 5px 8px;
	box-shadow: #58D68D 3px 5px 8px;
	behavior: url(/pie/PIE.htc);
}